[2020-10-15 13:47] simeonackermann opened #1 "Create Leibniz Data Manager Instance"

[2020-10-16 06:43] simeonackermann opened #2 "Create DCAT endpoint for NOMAD"

[2020-10-19 09:03] simeonackermann opened #3 "Create local development environment, deployment"
- create dev env with Docker
- configure deployment

[2020-10-20 11:31] simeonackermann opened #4 "HowTo Stream/Project"
# The why

Manage tasks of own work packages, add assignees, communication and collaboration with other institutions, follow task/milestone progress.

# The how
- in [stream-project](https://github.com/stream-project), create **private** repository "work-package-x", may add short description
   - goto this repository Settings>Features: uncheck _Wikis_ and _Projects_ and in Settings>Actions: _Disab

[2020-10-20 14:09] simeonackermann commented on #3
Test

[2020-10-23 09:04] TBoonX commented on #4
We will continue with this document on [GDrive](https://drive.google.com/drive/folders/1IiN6xUhq1iOfb4_Oe6bhSp2C2XVzvxyr)

[2020-10-23 09:04] #4 closed

[2020-10-23 15:15] TBoonX opened #5 "Decisions about: Technical and administrative infrastructure for the metadata portal - LDM"
For this a meeting is needed.

Questions: Who will host it, Who will maintain it?

[2020-10-23 15:20] TBoonX commented on #1
InfAI needs admin access to the deployment because we need to add and manage CKAN plugins.

[2020-10-23 15:26] TBoonX opened #6 "Create DCAT endpoint for DMMS"
- [ ] DMMS -> DCAT mapping, may use R2RML
- [ ] implement RDF DCAT endpoint

[2020-10-23 15:33] TBoonX opened #7 "Configure LDM to enable search"
The LDM instance needs to be configured to provide a basic search over the DCAT based data.

[2020-10-23 15:36] TBoonX opened #8 "Provide permanent and unique URLs plus a landing page for each dataset"
For NOMAD:
- [ ] Verify that URLs are permanent
- [ ] Verify that landing pages are working for DOI

For DMMS:
- [ ] Verify that URLs are permanent
- [ ] Verify that landing pages are working for DOI

[2020-10-23 15:37] TBoonX opened #9 "Add support of DOI to DMMS data repository"

[2020-10-23 15:40] TBoonX opened #10 "Add forward functionality to LDM (via DOI)"
Verify that DOIs are shown and are working as valid links.

[2020-10-23 15:42] TBoonX opened #11 "Execute the harvest"
In order to test the first phase the data should be harvested.

- [ ] Select datasets which should be harvested
- [ ] execute the harvest

[2020-10-23 15:54] TBoonX opened #12 "Realize Storing of metadata in sparql endpoint"
- [ ] Make a pan
- [ ] Deploy the SPARQL Endpoint
- [ ] Integrate SPARQL endpoint into metadata retrieval
- [ ] Initialize SPARQL endpoint with metadata from LDM

Either use the harvest process to also copy rdf or create a solution which queries and stores the metadata after harvests.

Includes deployment of endpoint, integration into metadata retrieval process and save initial data from LDM.

[2020-10-23 16:01] TBoonX opened #13 "Enhance DCAT interface to support MatVoc specifics"
For
- [ ] NOMAD
- [ ] DMMS

This task is about using specifics of MatVoc like classification to enhance the DCAT interface.

[2020-10-23 16:03] TBoonX opened #14 "Enable sync from MatVoc ontology git repository to SPARQL Endpoint"
For our MatVoc ontologie we will have multiple repositories with vocabularies inside. These have to be pushed regularly into their own graph in the SPARQL endpoint.

[2020-10-23 16:16] TBoonX opened #15 "Enhance the DCAT Harvester to use MatVoc Metadata specifics"

[2020-10-23 16:18] TBoonX opened #16 "Update LDM to respect MatVoc Metadata specifics"
#15

[2020-10-23 16:20] TBoonX opened #17 "Redo the harvesting"
In this phase the DCAT interface and the LDM were enhanced to support MatVoc specifics. In this task the harvesting should be redone in order to have all the metadata in the LDM and the sparql endpoint.

[2020-10-23 16:22] TBoonX opened #18 "Create CKAN data retrieval plugin for on-demand requests"

[2020-10-23 16:24] TBoonX opened #19 "Make a plan about what should be visualized how"
Comment from Javad: I guess IWM and FHI as data owners should decide what and how their data should be visualized. Later, based on that we (TIB) can plan to realize them.

[2020-10-23 16:25] TBoonX opened #20 "Add/Activate basic visualization tools to LDM"
See #19

Comment from Javad: We discussed this in detail. When the actual data does not come to the LDM data portal, it would not be possible to have visualization there. Instead we discussed to have some previews of the data to be ingested as a part of metadata harvesting as well as providing some visualization on the original repos and link to them from the data portal.

[2020-10-23 16:25] TBoonX opened #21 "Create a mappings plugin"

[2020-10-23 16:26] TBoonX opened #22 "Realize facet based exploration based on mappings"

[2020-10-23 16:26] TBoonX opened #23 "Review the technical and adminstrative infrastructure for the data portal"

[2020-10-27 13:54] javadch commented on #2
Some RML processors:
- See Section 2.2 R2RML Processors on [W3C](https://www.w3.org/TR/rdb2rdf-implementations/#Processors)
- [RML.io](https://github.com/RMLio/RML-Processor)

[2020-10-27 16:02] markus1978 commented on #2
Thx @javadch . It appears that RML doesn't had its entry to the Python world yet. Anyhow, for the beginning i simply use Python's rdflib to create the results. For now the mapping is quite straightforward.

[2020-10-27 17:02] markus1978 commented on #2
I implemented a first version of the API. Its currently running on our development cluster. This is one has only some example data, but it otherwise it is the same thing.

Here is the API dashboard: https://nomad-lab.eu/dev/nomad/dcat/dcat/
Here is an example output: https://nomad-lab.eu/dev/nomad/dcat/dcat/datasets/xtmcIQCXIbY_PQAKDHSdr7Z9fjQO
The example output is for this entry here: https://no

[2020-10-27 17:11] javadch commented on #2
@markus1978 it's a very good starting point.
1. Is it possible to generate in Turtle? or accept a parameter to the API to declare the serialization format?
2. Try to externalize the mappings in RML (or any other specification) to shield the API codes from future changes in the mappings.

[2020-10-27 17:15] javadch commented on #2
I noticed that my first comment is already implemented 👍🏻

[2020-10-28 13:43] markus1978 commented on #2
I looked through the available RML implementations. Unfortunately, there seems to be no Python implementation. Since the mapping is rather simple, I do not see enough benefits to warrant the added technical complexity that including any non Python components would entail.

The current mapping implementation is externalised in its own module to provide some decoupling from the actual API implementa

[2020-10-30 10:34] TBoonX commented on #2
Because Maja asked me, from our side it is not that important how the mapping is realized exactly in the code. Of course if a common library with (R2)RML mapping files could be used for this, it would be nice not only for reusable reasons for the DSMS but also to have a way to adopt the mapping without working on the code. But making progress is important and if everyone is OK with having change r

[2020-10-30 11:58] javadch commented on #2
No problem there, the R2RMl popped up because it promised in the proposal. So, I guess If we need to report progress on that task or there is any deliverable regarding that, we should consider building some RML mappings or justify our decision. Also, it can be again needed when we map the data.

[2020-11-02 10:59] simeonackermann commented on #3
See repo [AKSW/ldm-dev-env](https://github.com/AKSW/ldm-dev-env)

[2020-11-02 14:23] javadch commented on #1
@mwrep we need a virtual machine to install the public LDM instance as the data portal.
I suggest this should be provided by the STREAM project and hosted by you. Please update me on this, so that I can install and run the LDM.

[2020-11-02 14:32] TBoonX commented on #1
This should be a result of https://github.com/stream-project/WP4R/issues/5

[2020-11-03 15:47] simeonackermann commented on #6
See https://github.com/stream-project/WP4R/issues/24 for DCAT endpoint requirements

[2020-11-03 15:48] simeonackermann commented on #2
See https://github.com/stream-project/WP4R/issues/24 for DCAT endpoint requirements

[2020-11-03 16:07] simeonackermann commented on #2
Good work!
Beside the /dataset endpoints the CKAN harvester requires a single endpoint to fetch all dataset IDs from Nomad (eg `/catalog`). It might have a limit and pagination and if possible a parameter like `modified_since` (see #24 for more info).

[2020-11-04 10:42] simeonackermann commented on #21
Decide, if we want a:
1) (CKAN) plugin with basic functionality or
2) a standalone service/app (may use just parts)

Basic Requirements/Functionality
- view relational data schema (tables, columns)
- allow to create/edit mappings (may also import) -> simple text editor or graphical
- visualize mappings
- allow mapping export -> eg R2RML

Existing standalone apps for mapping ontologies:
- ~~[Map-On

[2020-11-12 10:02] simeonackermann commented on #21
After some research/testing with existing Tools we came the following conclusions:

- Karma is quite extensive with very good editing mapping tools. But the visualization of mappings with horizontal tables is quite too wide and not handy. Furthermore its RAM/CPU usage for heavy data is very high  (> 8GB)
- RMLEditor looks quite good and may fits our requirements. But the unclear license situation

[2020-11-12 10:28] simeonackermann commented on #21
The main idea of the app like this:

![Mapping-App-Idea](https://user-images.githubusercontent.com/6428217/98939021-15ffd600-24e9-11eb-9e1f-21d6cad06ae7.png)

[2020-11-12 10:31] simeonackermann commented on #21
This way it should be also possible to integrate the YARRRML editor directly into CKAN

[2020-11-16 09:21] TBoonX commented on #21
This issues is about WP 4.5 thus I add something for the included subtask:
 See https://github.com/stream-project/WP4R/issues/22

Basic Requirements/Functionality

* automatically creation of facets from mappings (could be a tiny external service)
* a search mechanism which uses the facets to allow users to explore the data (extra search mechanism additional to the CKAN search)

Software for extra

[2020-11-20 10:08] TBoonX commented on #18
in order to realize this task, the APIs from NOMAD and DSMS need to fulfill a few requirements:
Please make sure that the API provides a file format which could be used by [RMLMapper](https://github.com/RMLio/rmlmapper-java)

We outlined the usage of RMLMapper in https://docs.google.com/document/d/1W91izUVv-d9YCol9BuaXLbB6u3pKPhPoiU331gQ2k2o/edit

[2020-11-26 10:31] simeonackermann commented on #2
@markus1978 are there any updates implementing an `/catalog` endpoint to get a list of all datasets? (See als #24 for details)

[2020-11-26 10:47] markus1978 commented on #2
I don't know. @mospring I can certainly help with this. But you have to plan/moderate these activities, as I am not really part of this project. Some kind of due date for example?

Some limits/deviations from #24:
- When this gets added, it will have to have an after_value style pagination due to restrictions imposed by the underlying elasticsearch.
- I would use the same query parameter for the f

[2020-11-27 12:13] simeonackermann commented on #2
What you mean with "after_value style pagination"?
Datasets with unchanged DCAT values are ok (and I maybe quite right), they just increase the request/return size and synchronization process.

Do you think it's possible to implement such an endpoint still this year?

[2020-11-27 12:56] markus1978 commented on #2
Instead of an integer value that identifies a page, like page 1, page 2, ... you provide the last value of the previous page to get the next page. Each request basically returns the next page size values  "after" the given value. Usually an API would give you the respective value for the next page alongside the page data. I am not sure, how to do this when the API responses are RDF documents thoug

[2020-12-01 14:22] markus1978 commented on #2
I added a first implementation of the catalog endpoint. Here is the [API](https://nomad-lab.eu/dev/nomad/dcat/dcat); and here an [example request](https://nomad-lab.eu/dev/nomad/dcat/dcat/catalog/?format=xml&modified_since=2020-06-01).

There is only a catalog instance in there that lists the datasets, which are also in the results. I don't know, if you need more attributes on the catalog.

In the

[2020-12-03 13:27] simeonackermann commented on #2
Cool!
First I think its not necessary to put all dcat data of the datasets in the result. This increases the request/result and the CKAN sync plugin requests each dataset anyway.
So for the `/catalog` endpoint I suggest to have the properties: `rdf:type, dct:description, dct:title, dct:modified,  dct:identifier, dct:issued`  to keep it slim.

The pagination problematic solves CKAN with [Hydra](htt

[2020-12-04 14:13] TBoonX commented on #5
This was discussed in between topics, thus here the summary:
For now we have one testing server hosted by IWM (indirect). Later we want to have a production server.
TIB and INFAI has access and will install LDM+extensions+webservices+RDF store. They will maintain the testing server.
For production the final hardware requirements and the procedures still have to be set.

[2020-12-11 09:55] markus1978 commented on #2
Sorry, I still did not have time fix this yet. I hope I find some time next week.

On a first glance, I think I can use hydra:next (or hydra:nextPage), hydra:first (or hydra:firstPage), hydra:totalItems, hydra:itemsPerPage to describe the "after"-style pagination. Without actual pages in elastic search, I would rather use next than nextPage. Also I cannot provide hydra:lastPage.

[2020-12-14 07:52] markus1978 commented on #2
I added a hydra object to the catalog and reduced the properties of the datasets. Here is the [API](https://nomad-lab.eu/dev/nomad/dcat/dcat); and here an [example request](https://nomad-lab.eu/dev/nomad/dcat/dcat/catalog/?format=xml&modified_since=2020-06-01).

I forgot to add the other parameters to the hydra URLs. Despite this, is this something you can work with?

Also rdflib is outputing a li

[2020-12-17 11:32] TBoonX commented on #22
[Current plan](https://docs.google.com/document/d/1ULMVNJtNTjy3WGCS2zNEix9wdxq7Ki2Y/edit)

[2020-12-21 14:16] simeonackermann commented on #2
Nice, looks good, much cleaner now.
The Hydra instance may should be a root element, like the [w3 example suggest](https://www.w3.org/community/hydra/wiki/Pagination#Current_Design). Its may also good being CKANish as they do it the same ([here](https://demo.ckan.org/catalog.ttl)). For this we have to the change the URL of dcat:Catalog, which could be the base URL of Nomad. And the Hydra instance

[2020-12-23 09:27] simeonackermann commented on #21
First prototype of mapping app [Madams Editor](https://github.com/AKSW/MadamsEditor).

[2020-12-23 09:28] simeonackermann commented on #21
Updated general idea

![Mapping-App-Idea](https://user-images.githubusercontent.com/6428217/102981634-8bf45580-4509-11eb-8b08-86b00ca9356a.png)

[2021-01-06 10:10] TBoonX commented on #14
The virtuoso-import-docker_core-import_1 container is importing the RDF files into their graphs every 5 minutes.
In order to include a new file, just add it to the ontology repo in the main folder and add a .graph file also. The graph file should have the complete filename of the rdf file as the prefix. The graph file should only contain the whole URI of the graph.
The software used for this is ht

[2021-01-06 14:47] markus1978 commented on #2
Sorry for the late replay; holidays and all.

I fixed the content type issue and its changing now according to the requested format.

I am afraid, I do not understand the other proposed changes. Could your exemplify this some more?

[2021-01-07 14:13] simeonackermann commented on #2
Content-Type fix works like a charm.

I try to clarify my Hydra request. The best/easiest would be, if the Nomad DCAT API could be equal with the CKAN API.

As you can see in the [ckan-dcat doc](https://github.com/ckan/ckanext-dcat#catalog-endpoint) they implement Hydra with the hydra:PagedCollection class and not as a childnode of dcat:Catalog. Here is an [example catalog](https://demo.ckan.org/c

[2021-01-11 06:56] markus1978 commented on #2
Ok, I think, I got it now. Since there is no `page=1`, I added an empty start as the hydra ref to emulate the ckan-dcat behaviour without having to change the URL path. It looks like this now:

[code]

I feel, we are almost there. If you agree, I will fix some remaining minor issues and merge this for the next actual NOMAD release.

[2021-01-11 20:53] simeonackermann commented on #2
Jep, I think thats fine.
I have to solve some issues with CKANs deprecated Hydra implementation and test everything on wednesday. But I think thats it.

[2021-01-13 10:23] simeonackermann commented on #2
Ok, I have a new point:
the current format query should maybe also be part of hydra prev/next/fist pagination URL.

My first test with CKAN to sync data from Nomad synced 4500 datasets without an error.

[2021-01-13 13:38] simeonackermann commented on #2
I recognized a wrong behavior (?) with hydras next page. The catalog with all modified datasets since 2021-01-01 says there are 580 items ([see endpoint here](https://nomad-lab.eu/dev/nomad/dcat/dcat/catalog/?modified_since=2021-01-01)). But If you access the [next page](https://nomad-lab.eu/dev/nomad/dcat/dcat/catalog?after=kXZzUQ4Fo_E-OaYzMbSS7rqRaixe) from here, its 8350 items with modified dat

[2021-01-14 07:45] markus1978 commented on #2
Ok, I'll look into it.

Be aware that this is still running on our dev servers and it's not the real data.

[2021-01-14 15:39] markus1978 commented on #2
I fixed the issue with the missing filter on the next page.

I am not sure if I should really add the `format` parameter to the hydra (and other urls). As far as I understand the urls identify RDF objects, but the format does not contribute to the respective identities. It should it not be the same object, no matter how it is formatted? I guess it would be more right, to don't use a `format` param

[2021-01-15 11:13] simeonackermann commented on #2
To move the requested content type in the request header would be very nice and common! (although is not required for the CKAN harvester)

[2021-01-15 11:19] markus1978 commented on #2
I would go with Content-type "text/turtle", "text/n3", etc. XML is different of course. How would i distinguish xml/pretty-xml, which technically would both be "application/xml"? Or should pretty-xml (the xml with a hierarchy instead of lots of flat objects with references) be the default and only supported XML?

[2021-01-15 11:37] simeonackermann commented on #2
Hm, I can't find anything on pretty-XML content type ... Some RDF types [here](http://archive.rdf4j.org/users/ch10.html#d0e2292), may just use `application/rdf+prettyxml`

[2021-01-15 11:44] markus1978 commented on #2
Thanks for the list of content-types. I'll go ahead and add the necessary behaviour. I leave the old format parameter as a backup?

[2021-01-15 12:06] simeonackermann commented on #2
Ya, the format parameter simplifies short API requests with the browser.

[2021-01-22 10:52] markus1978 commented on #2
I finally added the header handling. It will now interpret the "Accept" header in the request and use the right format and set the response "Content-type" accordingly. If there is a format parameter, it will ignore the header.

This NOMAD dcat API is now also part of our actual release and NOMAD data: https://nomad-lab.eu/prod/rae/dcat/

[2021-03-02 11:40] TBoonX commented on #3
Atm we have the AKSW/ldm-dev-env repo which has issues with the ckan extensions but is able to handle patches and is build with debug in mind.
On the other hand we have the LDM repository in which the TIB extensions are already working but its an older version of ckan and the testing instance has to be created from scratch.

We need to decide on how to continue.

[2021-03-02 12:08] TBoonX commented on #1
Infrastructure of server:

We are using docker and need a reverse proxy. I propose to use the [jwilder/nginx-proxy](https://hub.docker.com/r/jwilder/nginx-proxy) with the lets encrypt companion for this. This gives us the possibility to run testing instances whenever we want. <- I can deploy it or assist

The folders on the server in which LDM, CKAN and other services are located should be located

[2021-03-22 09:43] TBoonX commented on #3
I decide that I will continue with the ckan 2.7 repo I already adopted: https://github.com/AKSW/TIB_Data_Manager
If the results from this project should used in the future, CKAN and all its plugins have to be upgraded. The extensions harvest and dcat are already the latest version because they are compatible with the old ckan version.

In order to use a newer version of ckan the TIB extensions and

[2021-04-01 06:51] TBoonX commented on #1
@yoavnash Please verify that https://stream-dataspace.net/ and https://sparql.stream-dataspace.net/ are working for you.
The ckan admin password is WIQJxuEZhKWq0

[2021-04-01 16:04] yoavnash commented on #1
Works. Thanks.

[2021-04-06 07:49] TBoonX commented on #2
The API is working. Only a part of the datasets are available but for this issue its absolutely fine!

[2021-04-07 12:13] TBoonX commented on #11
Atm we have no preselection or filter for datasets.
The harvest was done for NOMAD yesterday evening. It seems that the API is working on the current NOMAD data and thus I stopped the harvest after around 21700 datasets. Also we need to improve some details of the mapping, see #30

[2021-04-12 13:07] TBoonX commented on #8
Maja I did assign this issue to you for now, because the NOMAD DCAT API is working and now it should be improved. I think the main task to resolve the FHI part of this issue is to tackle the first task in the API improvement issue #30

[2021-04-12 13:10] TBoonX commented on #14
Because of the new server environment I have to configure the container for it and start it again.

[2021-04-12 13:15] TBoonX commented on #18
High work overlapping with https://github.com/stream-project/WP3R/issues/5
The service which calls the data repository, retrieves, maps and saves the data (as RDF) is already there (working for NOMAD).
Thus this issue is about connecting it with the LDM.

[2021-04-13 08:56] yoavnash commented on #6
Hi @TBoonX, can you refer me to the swagger yml file that is used for this entry point: https://nomad-lab.eu/prod/rae/dcat/ ?
We will try to unify our API so that it's consistent with the one of Nomad.

[2021-04-13 09:05] TBoonX commented on #6
@yoavnash its hosted by FHI. @markus1978 or @mospring would you provide the file?

[2021-04-13 09:32] markus1978 commented on #6
I attached the swagger.json.  I needed to rename it to .txt due to github security.

Be aware that the swagger is generated from our API implementation (not the other way around). If we need to change the API, the swagger will change.

The download link on the API dashboard is kinda broken. For some reason an exception is thrown if the swagger is downloaded with certain headers. E.g. can download

[2021-04-13 11:26] yoavnash commented on #6
Got it, thanks!

[2021-04-24 09:41] yoavnash commented on #6
Done. Endpoint is available here: http://dsms.stream-dataspace.net/

[2021-04-27 12:29] TBoonX commented on #6
The website works well and with curl it works also fine.
But with CKAN I have issues. It returns 500 INTERNAL SERVER ERROR.
Here is the response CKAN gets when calling the /catalog/ route: (Thats how much I was able to retrieve with Wireshark)

[DSMS_Error.txt](https://github.com/stream-project/WP4R/files/6384493/DSMS_Error.txt)

@yoavnash Do you have an idea what the issue is?

[2021-04-27 13:59] yoavnash commented on #6
Not really. Do you know how CKAN's HTTP requests look like?

[2021-04-27 15:18] TBoonX commented on #6
<img width="557" alt="Bildschirmfoto 2021-04-27 um 17 18 17" src="https://user-images.githubusercontent.com/3153545/116267353-a0c54c00-a77c-11eb-8fb2-733eddbf4cac.png">

[2021-04-27 16:55] yoavnash commented on #6
@yzuuang please have look. I would suggest trying to imitate this request with an HTTP client app (postman or Talend) and see what you get.

[2021-04-28 07:18] TBoonX commented on #6
It seems that the accept header is missing which creates an error. I propose to make text/turtle the default

[2021-04-28 10:00] yizhen-wang-sci commented on #6
@TBoonX, thank you for this information. The '*' was not considered when handling the format. Now it should be fixed, but I am waiting for someone who has the right to update it on the server.

[2021-04-28 11:20] yoavnash commented on #6
I just updated the server. Thanks @yzuuang
@TBoonX please see if the problem is now solved.

[2021-04-29 09:05] TBoonX commented on #14
It is running now. We need to have similar containers for the other repositories as well, e.g. classification, taxonomy, ...

[2021-04-29 10:45] TBoonX commented on #6
Works! I was able to retrieve 5 datasets. Is this correct?
I also started the harvest on stream-dataspace.net. It will be visible under https://stream-dataspace.net/harvest/dsms-dcat-harvester

[2021-04-29 11:11] yoavnash commented on #6
Five is correct. Great!

[2021-05-07 12:53] TBoonX commented on #2
@markus1978 Working on the DCAT extension revealed that only the /catalog route is used.
Atm only the metadata from the /catalog route is imported.
How do you think about combining the two routes into one? Would it be much work for you?
I could also try to partly rewrite the DCAT Extension to also call the /dataset route but this would result in a lot of work. I prefer the route combination by FHI

[2021-05-07 15:19] markus1978 commented on #2
You want that the catalog returns the full dataset objects in the same way the datasets route does? It should not be too hard. Should this be configurable through a catalog route query parameter? Or catalog simply always return the full datasets?

[2021-05-07 15:22] TBoonX commented on #2
Exactly, the catalog route should also contain everything from the /dataset route for each dataset.
No need for a parameter.

[2021-05-07 15:32] markus1978 commented on #2
Ok. I think I got it. It takes some time to build and deploy.

[2021-05-07 17:26] markus1978 commented on #2
We have the fix on our beta deployment now: https://nomad-lab.eu/prod/rae/beta/dcat/
It is the same data as on the official nomad. The fix will go to the official nomad, when we do the next release. Probably next week.

[2021-05-10 08:59] TBoonX commented on #2
Thank you!
If I try to get the second file of the catalog route i get an error:
`error:1400410B:SSL routines:CONNECT_CR_SRVR_HELLO:wrong version number`
URL is: https://nomad-lab.eu:80/prod/rae/beta/dcat/catalog?after=k0owICwEGs68Uvjj7HjtYzzaFzgp

[2021-05-10 14:10] TBoonX commented on #2
I also noticed that the /catalog route does not contain the full creator and author data. Is it possible to include them also?

[2021-05-10 14:23] TBoonX commented on #2
Some URLs are wrong, because they include the port. E.g.: https://nomad-lab.eu:80/prod/rae/beta/gui/entry/id/E-SzjykkRgGaJEzRl0M5RQ/XdvgSDBZgMmep7uK33Ne-EvjbI6x

[2021-05-11 14:03] markus1978 commented on #2
I fixed the urls. I hope this was also the cause for the SSL errors you have?

I don't know if this is an rdflib issue, I if I am too stupid to use it. For some reason, the creators/publishers of nested entities (e.g. datasets in catalogs) are only included via id and reference without the actual user data. The only way I could help myself was to also add the creators (including the publishers) to

[2021-05-19 12:36] TBoonX commented on #2
Thanks, the URLs are working and I am able to read the creator/publisher triples.
I assume RDFlib is creating new nodes out of the blank nodes given to it and thus creators have their own "structure". This is correct. As long as all triples are in the /catalog response, the RDF tools are working I think.

I did encountered another error: 500 on https://nomad-lab.eu/prod/rae/beta/dcat/catalog/?form

[2021-05-19 13:58] TBoonX commented on #2
I found a general typo: dcat:landing_page is wrong. It should be dcat:landingPage

[2021-06-03 06:50] TBoonX commented on #6
Hello again.
While using the DCAT endpoint I realized that the return of the routes have to be changed. For NOMAD we already changed it and it works. Now also the DSMS needs this change. This and the following comments https://github.com/stream-project/WP4R/issues/2#issuecomment-834353721 are explaining the needed change.
Is this change possible to do this month?
Sorry for the late request.

[2021-06-03 13:48] TBoonX commented on #5
We are also using a domain for the current deployment: stream-dataspace.net

We will revise the deployment when we want to showcase demonstrators publically.

[2021-06-03 13:50] TBoonX commented on #11
I will close this issue because DSMS has only a few datasets and the beta version of NOMAD which we are using atm has also just a few. We will harvest more when the data repositories made progress and also in the other milestones.

[2021-06-03 14:16] yoavnash commented on #6
No problem.
@yzuuang, could you look into this?

[2021-06-07 08:14] TBoonX commented on #12
Atm I like the idea to query the dcat API of the data repositories to retrieve the metadata and store it in the RDF store <- independent from the CKAN harvest.
Storing the metadata while CKAN does the harvest seems too complicated.

[2021-06-07 09:20] TBoonX commented on #12
![workflow](https://github.com/stream-project/WP4R/raw/main/Metadata%20retrieve%20and%20store.png)
This is my current plan. It will be a docker container with virtuoso client, java and jq. It will be started by an admin. Later it could be integrated in a way that it is executed via the GUI.

[2021-06-14 14:28] TBoonX commented on #12
First working version: https://github.com/AKSW/TIB_Data_Manager/tree/master/docker/store_metadata
Has to be executed manually and does load all metadata from NOMAD (beta version atm) into virtuoso under the given graph.

[2021-06-14 16:49] yoavnash commented on #6
Hi @TBoonX, I deployed the changes that @yzuuang has made in http://dsms.stream-dataspace.net/
Can you check whether they fit your requirements?

[2021-06-15 10:58] TBoonX commented on #2
Also vcard:organizationName does not exist. Please use vcard:organization or vcard:hasOrganizationName

[2021-06-15 11:01] TBoonX commented on #6
It works, thank you!
There are just a few minor issues:
* landingPage is part of DCAT not dc terms
* You could try to also include dcat:distribution in order to include technical information about the dataset/-source

[2021-06-15 12:41] TBoonX commented on #12
Virtuoso on LDM has the metadata of NOMAD beta DCAT interface stored in the graph http://example.de

[2021-06-16 15:37] TBoonX commented on #7
For a better user experience I will add the extension https://github.com/stadt-karlsruhe/ckanext-discovery to CKAN.
I will enable the tag cloud, the search suggestions and similar datasets features.

I will come back to this issue when we have MatVoc specific metadata in the LDM.

[2021-06-18 14:23] yoavnash commented on #6
The first point is done.
For the second one, we first need to collect the raw data. We'll keep you updated.

[2021-06-18 15:21] markus1978 commented on #2
I fixed the two spelling things (organizationName -> organization) and (landing_page -> landingPage). Not yet sure about the HTTP 500 yet. Have to do some more testing.

[2021-06-19 14:26] markus1978 commented on #2
The HTTP 500 should also be fixed now. The latest fixes are only available under the beta deployment for now: https://nomad-lab.eu/prod/rae/beta/dcat/

The next release will be end of July.

[2021-06-21 15:03] TBoonX commented on #21
@All: I did add all related partners to the issue and will now provide the current situation and current tasks:

For WP3.3 we have a [plan](https://github.com/stream-project/WP3R/issues/20) for the GUI and how to integrate it into LDM. This is highly related to this issue because the topic is similar and the mappings (RML RDF) should be stored and managed via the SPARQL endpoint. Thus there should

[2021-06-22 06:12] mospring commented on #21
I worked with YARRRML and found that it has some limitations. While it is possible to include a condition, the available conditions are very simple. For example, if A and B should be linked only if A has a certain value, it is not possible. There is also no checking for typos (of the used resources). Otherwise it is simple and works well.

[2021-06-22 09:01] TBoonX commented on #21
@mospring Thanks for your remarks.
I would like to add that RML has also just the equal comparison (aka [joinCondition](https://rml.io/specs/rml/#logical-join)) and that we could enhance the YARRRML parser to also have more functions for [conditions](https://github.com/RMLio/yarrrml-parser/blob/development/lib/rml-generator.js#L266).
Important is that the mapping (RML or YARRRML) should not be use

[2021-06-28 12:23] TBoonX commented on #23
The idea behind this issue is that an overview should be generated about the services/installations we have and then a decision about what should be moved to other servers in order to be available after the project have to happen.

[2021-06-29 08:08] TBoonX commented on #13
We need to specify with what and how much we will enhance the metadata aggregation.
I think we need to include our classification somehow for WP 4.3

[2021-06-29 08:09] TBoonX commented on #18
Atm the data retrieval + mapping is started via a button click. Thus have to be restricted. How this should be restricted and if we need a queue have to be discussed.

[2021-06-29 08:12] TBoonX commented on #18
@MatthiasW999 @yoavnash What is the plan about a DSMS API route to retrieve data? Either raw or preprocessed.
With the new dcat:Distribution entries the source files are available. Will this be the case for all the datasets you want to provide? Do you have plans to provide preprocessed data?

[2021-06-30 13:52] yizhen-wang-sci commented on #6
There is the information about the distribution now.

[2021-06-30 15:14] TBoonX commented on #6
It works! Thanks. I just found one tiny thing: dcat:title of dcat:Distribution is wrong, it has to be dct:title

[2021-07-01 11:43] TBoonX commented on #18
If we will have visualizations inside the LDM the requirements of this have to be taken into account as well.

[2021-07-05 14:33] yoavnash commented on #6
Should be ok now

[2021-07-05 14:42] yoavnash commented on #18
I would say it would be helpful to discuss this at a meeting. I'm a bit unsure of what is currently required.

[2021-07-05 16:29] TBoonX commented on #18
In general there is no task for the IWM to provide data with an API. It seems that the IWM has to decide if they still want spend time on providing data in raw or preprocessed form for the visualization and mapping. Depending on what we will decide about the visualization part, a theoretical solution for the DSMS described in a report could be sufficient.
However the IWM needs to create mapping fi

[2021-07-05 19:44] TBoonX commented on #6
Works.

[2021-07-08 14:07] TBoonX commented on #22
We need a new plan because we want a federated search for data.
My first idea is to use a tool which does federate search based on data with a GUI, e.g. https://bitbucket.org/sebferre/sewelis/src/master/
As a short cut we could add facets to the finished federated search afterwards.

This issue has to be re-defined when the federated search implementation has begun.

[2021-07-08 14:12] TBoonX commented on #20
After we have the list of provided visualizations for external services of NOMAD and DSMS we could start with this task and include them.

[2021-07-08 14:17] TBoonX commented on #19
@mospring @MatthiasW999 @yoavnash We need a list from you about which visualizations could be provided for including them into the LDM. The list should include technical details like if it is just an image or something like a whole webpage. These lists are the precondition for all tasks about the visualization.
@javadch I ask you to set a deadline for FHI and IWM and then gather the lists.

[2021-07-08 14:19] TBoonX commented on #9
@yoavnash please provide an update.

[2021-07-08 14:20] TBoonX commented on #8
@mospring Please talk with Javad and Carsten about how to realize DOI on NOMAD side.

[2021-07-08 14:23] TBoonX commented on #18
This issue is outdated. TIB, FHI and IWM will realize a federated search over data via (on the fly execution of) mappings.
We will create new tasks for it when the plan (and the current paper) is ready.

[2021-07-08 14:30] TBoonX commented on #21
I close this task because it is outdated - federated search over data is the current plan.
For this we have to create the corresponding issues when the plan and out paper is ready.

[2021-07-13 09:29] yoavnash commented on #19
I assume you mean visualization of the data itself, as in [here](https://nomad-lab.eu/prod/rae/gui/entry/id/-19NlAwxTCCXb6YT9Plifw/Re8DYWQW3_Kt11Y6WUpPRZs0XGHX), rather than visualization of the ontological representation of the data ([example](https://enterprise-knowledge.com/wp-content/uploads/2020/01/Ontology-Ontology.png)). Would that be correct?

[2021-07-13 12:07] TBoonX commented on #19
@yoavnash that is correct.

[2021-07-13 12:58] yoavnash commented on #19
We could provide at least some plots, but we're open to additional ideas.

[2021-09-23 12:04] yoavnash commented on #13
Hi @TBoonX, we now have the MatVoc representation of the tensile test datasets, which we would like to present to you in one of the next meetings (see an email from Matthias). In the mean time, can you provide us with details on how to extend the DSMS'S API so that it serves this information?

[2021-09-23 13:06] TBoonX commented on #13
Dear @yoavnash , good to hear about progress.
In general we are free to include the triples we need into the DCAT interfaces/harvester. A first step would be to use the SKOS classification to enrich the DCAT data. On which objects we add the triples could be discussed in such a meeting but using dcat:theme to connect to SKOS triples would be the common start.
After adding the classification we are

[2021-11-08 16:27] TBoonX commented on #13
[NOMAD DCAT API](https://nomad-lab.eu/prod/rae/dcat/catalog/) returns SSL error: ERR_INVALID_SIGNED_EXCHANGE
@markus1978 are you still the person to contact when something like this happens?

[2021-11-09 07:29] markus1978 commented on #13
I have a good idea why this happens. I can release a fixed version in a couple of days.

It is not an SSL or certificate issue. The API wrongly returns some HTTP headers that some browsers disallow in a HTTPS exchange. Until the fix, the API should still work in most "non-browser" use-cases, e.g. curl, requests, etc.

[2021-11-09 07:40] TBoonX commented on #13
I encountered it with my python code which uses the API and it worked half a year ago.
Thanks, a fix would be nice.

[2021-11-09 07:43] markus1978 commented on #13
Mmh, the issue I am suggesting is in there for a loooong time. Maybe the underlying SSL impl got more restrictive. Or my initial analysis is wrong and it is something else. Anyhow, I investigate and try to fix it.

[2021-11-09 15:22] markus1978 commented on #13
It should be fixed now.

[2021-11-09 17:39] TBoonX commented on #13
Thanks for the fast deployment.
It is working again in the browser even that there are issues with the certificate.
I assume that my docker container is using a newer version of python, thus the new error.
The same error occurs with sparql.stream-dataspace.net even that the certificate is alright.
I will have a look and try to resolve it on my code - I will give feedback when there is something ne

[2021-11-10 07:29] markus1978 commented on #13
This has to be something else? Yesterday, I was looking at Chrome. It was sending an accept header to the API with all kinds of mime types in it, including `application/signed-exchange`. The API tried to interpret this to determine in which format to return results. The bug was that the API reflected the same accept header back as content type including `application/signed-exchange`. This was not

[2021-11-10 09:17] TBoonX commented on #13
The browser now accepts the website and certificate completely.
My code has still issues which I have to investigate.
Thanks!

[2021-11-19 15:49] TBoonX commented on #17
Atm I have issues with the aggregation:
With the old CKAN and Python version we are using atm, either SSL does not accept certificates or the harvesting does not add datasets.
I am working on this. Perhaps I will try to use the official CKAN repo/version. Because Besides 4 included Plugins, our LDM is just an old version of CKAN. There is another LD on Github - I have to clarify this with TIB.

[2021-12-07 16:31] TBoonX commented on #22
In the workshop in Berlin 2021 we decided to give this task a low priority because we need the deployed tools and data first.

[2021-12-09 09:30] TBoonX commented on #17
I have now running CKAN 2.9 and the extensions are working. I will deploy it on the server before we redo the harvesting with new metadata provided via the dcat endpoints.

[2022-07-28 14:14] TBoonX commented on #7
The discovery CKAN extension does not work with the updated CKAN version. Thus a good search has to be ensured or additional features have to be implemented when the metadata is enriched with classification and MatVoc specifics.

[2022-07-28 14:39] TBoonX commented on #15
The Harvester does load  SKOS predicates into the key string pairs in "Additional Info". The following predicates are supported:

[code]

When the dcat endpoints provide SKOS metadata, the harvesting should be done again.

[2022-09-27 06:53] TBoonX commented on #22
For the demonstrator of the 2022 workshop Rohit did host a GraphDB with metadata and data for Nomad, DSMS and Hybrid3 under http://vm188067-l3s.hosting.uni-hannover.de:7200/  .
For Nomad I did configure  SparNatural to make the Nomad data exploration more easy: http://rdfdata.stream-dataspace.net/
How we will continue will be discussed in the workshop.

[2022-09-28 09:04] TBoonX commented on #22
Proposal wise this subtask is done.
If we will have time, we will enable the tooling to support also the DSMS and Hybrid3 graphs.